<h1>Welcome</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%
=begin %>
<% @my_surveys.each do |my_survey| %>
  <tr>
    <td><%= link_to 'Show', my_survey %></td>
    <td><%= link_to 'Edit', edit_my_survey_path(my_survey) %></td>
    <td><%= link_to 'Destroy', my_survey, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<%
=end %>
</table>

<br />

<% if @embedded_ssl %>
  <div id="surveyMonkeyInfo"><div><script src="https://www.research.net/jsEmbed.aspx?sm=fsl2MbczUG8Unrv05bIZ0A_3d_3d"> </script></div></div>
<% else %>
  <div id="surveyMonkeyInfo"><div><script src="http://www.research.net/jsEmbed.aspx?sm=fsl2MbczUG8Unrv05bIZ0A_3d_3d"> </script></div></div>
<% end %>

<%= link_to 'New My survey', new_my_survey_path %>

<footer>
<%= debug params %>
<%= debug request.headers %>
</footer>
