<!DOCTYPE html>
<html>
<head>
  <title>DemoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= include_controller_stylesheet %>

  <%= javascript_include_tag "application" %>
  <%= include_controller_javascript %>

  <%= yield :javascript %>


  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
